body {
	background-image: url('../img/styling/rb-01.png');
	background-size: 30em;
	height:100%;
	font-size: 16px;
	background-position: top left;
}

body > div {
	width: 93%;
	margin: 0 auto;
	background-image: url('../img/styling/subtle_dots.png');
}

#header {
        padding: 1.25em 3%;	
}
#logo {
	height: 2em;
	display: inline;
}
#logo svg {
	width:38%;
	display: inline-block;
}
#nav {
	width: 53%;
	float: right;
	display: inline-block;
}
#nav li {
	display:inline-block;
	padding: 0.5em 4.5%;
	font-size: 1.4em;
}

#main, #aside {
	float: right;
}

#main {
	width: 70%;
	padding: 0 3%;
}

#introduction {
    background: white;
    padding: 2em;
}

#introduction p {
    font-size:1.5em;
}
#aside {
	width: 26%;
	padding: 1em;
	background-color: #f7f7f7;
	margin-right: 3%;
	margin-left: 1%;
}
#aside h1 {
    font-size: 1.8em;
}
h1 {
	font-family: 'Vitesse Bold', 'Rockwell', serif;
	margin-bottom: 0.66em;
}

h2 {
	font-family: 'Vitesse Book', serif;
	font-size: 2em;
}

p, h3, h4, h5, h6 {
	font-family:  'Proxima Nova Rg', 'DejaVu Sans', 'Gotham Book', sans-serif;
}
