body {
	height:100%;
	font-size: 16px;
  color: #3f3f3f;
  font-size: 21px;
  line-height: 25.2px;
  font-family: "source sans pro";
  font-weight: 300;
}

a {
  color: #aaa;
  text-decoration: none;
  border-bottom: 1px solid;
}
a:hover {
  color: #9c9c9c;
}
a:active {
  color: #999;
}

#container {
  width: 400px;
  text-align: center;
  margin: 100px auto;

  /*flexboxes (not required0 */)
  display:flex;
  flex-direction: column;
}

img {
  width: 300px;
  margin: auto;
}
