body {
	height:100%;
  color: #3f3f3f;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

a {
  color: #aaa;
  text-decoration: none;
  border-bottom: 1px solid;
}
a:hover {
  color: #9c9c9c;
}
a:active {
  color: #999;
}

article {
  margin: 100px auto;
  text-align: center;
  width: 400px;
}

.logo {
  margin: auto;
  width: 300px;
}
