<div id="footer" class="cf">
  <h1>Get Involved with ScottyLabs</h1>
  <div id="get-involved-students">
    <h2>Students</h2>
    <p>If you’re a student at Carnegie Mellon, we hope you enjoy our events! If you'd like to become more involved, please email us at <a href="mailto:info@scottylabs.org">info@scottylabs.org</a>, or attend one of our meetings!</p>
  </div>
  <div id="get-involved-orgs">
    <h2>Organizations</h2>
    <p>ScottyLabs has lots of friends– basically partners (who help us with Projects) and sponsors (who help to fund us and our events).<br>
    <a href="/donate.html">Become a sponsor</a>
    </p>
    
  </div>
</div>
