<div id="header" class="cf">
  <div id="nav">
    <ul>
      <li id="home" class="current"><a href='index.html'>Home</a></li>
      <li id="projects"><a href='projects.html'>Projects</a></li>
      <li id="about"><a href="about.html">About</a></li>
      <li id="partners"><a href="partners.html">Partners</a></li>
    </ul>
  </div>
  <div id="logo">
    <img src="img/styling/scottylabs-horizontal.png" alt="ScottyLabs Logo" />
  </div>
  <!--<div id="callout">
    <p>Been working on a neat project in your free time? <a href="http://bit.ly/cmudemoday">Sign up here to be a presenter at Demo Day</a>!  You'll have three minutes to show off your work. Demo Day will be on <strong>December 1st from 4:30 - 6:30 PM in Rashid Auditorium and GHC 4405.</strong></p><p> Also check out the event <a href="https://www.facebook.com/events/245291202267303/" >on Facebook</a>.</p>
  </div> -->
</div>
