body {
	background-image: url('../img/styling/geometric-pattern-nr.png');
	background-size: 31%;
	height:100%;
}

#logo {
	background: white;
}

#nav {
	background-color: rgba(242, 242, 242, 1);
}

#nav ul li {
	display: inline-block;
	margin-right: 7%;
}

#main, #aside {
	float: right;	
	background-color: white;
}

#aside {
	width: 25%;
	margin: 2em 0 0 0;
}

#main {
	width: 70%;
	padding: 0;
	margin: 2em 0 0 0;
	float: left;
}

h1 {
	background-color: rgba(255, 255, 255, 0.8);
	background-image: url('../img/styling/subtle_dots.png');	
	font-family: 'Vitesse Bold', 'Rockwell', serif;
	padding: 0.2em 3%;
	-webkit-border-radius: 20px 20px 0px 0px;
	border-radius: 20px 20px 0px 0px;
}

#main div p {
	-webkit-border-radius: 0px 0px 20px 20px;
	border-radius: 0px 0px 20px 20px;
}

#main .project, #main p {
	background-color: rgba(255, 255, 255, 0.95);
	font-family: 'Proxima Nova Rg', sans-serif;
	font-size: 1.5em;
	padding: 1.5em 4%;
	line-height: 1.5;
}